
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/Home/Index" method="post">
    <input type="text" name="name" value=" " />
    <input type="text" name="email" value=" " />
    <input type="submit" name="submit" value="Gởi" />
</form>

